<?xml version="1.0"?>
<!--
/******************************************************
 * @package Magento 2 SSO Integration
 * @author http://www.magefox.com
 * @copyright (C) 2018- Magefox.Com
 * @license MIT
 *******************************************************/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magefox_SSOIntegration" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>