<?xml version="1.0"?>
<!--
/******************************************************
 * @package Magento 2 SSO Integration
 * @author http://www.magefox.com
 * @copyright (C) 2018- Magefox.Com
 * @license MIT
 *******************************************************/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="auth0_remove_authorization_links" instance="Magefox\SSOIntegration\Observer\Auth0\RemoveAuthorizationLinks" />
    </event>
</config>
